<div tabindex="-1"
    class="tw-bg-secondary tw-overflow-y-auto tw-overflow-x-hidden tw-fixed tw-top-0 tw-right-0 tw-left-0 tw-z-50 tw-h-full tw-items-center tw-justify-center tw-flex">
    <div class="tw-flex tw-justify-center tw-p-4 tw-w-full tw-max-w-md">
        <div class="tw-flex tw-justify-center tw-bg-white tw-rounded-lg tw-shadow">
            <div class="tw-p-5">
                <p class="tw-mb-4 tw-text-sm tw-font-normal tw-text-gray-800"></p>
                <div class="tw-text-center">
                    <p class="tw-mb-3 tw-text-2xl tw-font-semibold tw-leading-5 tw-text-slate-900">
                        Login to your account
                    </p>
                    <p class="tw-mt-2 tw-text-sm tw-leading-4 tw-text-slate-600">
                        You must be logged in to perform this action.
                    </p>
                </div>
                <div class="tw-mt-7 tw-flex tw-flex-col tw-gap-2">

                    <button
                        class="tw-inline-flex tw-h-10 tw-w-full tw-items-center tw-justify-center tw-gap-2 tw-rounded tw-border tw-border-slate-300 tw-bg-white tw-p-2 tw-text-sm tw-font-medium tw-text-black tw-outline-none tw-focus:tw-ring-2 tw-focus:tw-ring-[#333] tw-focus:tw-ring-offset-1 tw-disabled:tw-cursor-not-allowed tw-disabled:tw-opacity-60"><img
                            src="https://www.svgrepo.com/show/512317/github-142.svg" alt="GitHub"
                            class="tw-h-[18px] tw-w-[18px] ">
                        Continue with GitHub
                    </button>
                    <button
                        class="tw-inline-flex tw-h-10 tw-w-full tw-items-center tw-justify-center tw-gap-2 tw-rounded tw-border tw-border-slate-300 tw-bg-white tw-p-2 tw-text-sm tw-font-medium tw-text-black tw-outline-none tw-focus:tw-ring-2 tw-focus:tw-ring-[#333] tw-focus:tw-ring-offset-1 tw-disabled:tw-cursor-not-allowed tw-disabled:tw-opacity-60"><img
                            src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google"
                            class="tw-h-[18px] tw-w-[18px] ">Continue with
                        Google
                    </button>
                    <button
                        class="tw-inline-flex tw-h-10 tw-w-full tw-items-center tw-justify-center tw-gap-2 tw-rounded tw-border tw-border-slate-300 tw-bg-white tw-p-2 tw-text-sm tw-font-medium tw-text-black tw-outline-none tw-focus:tw-ring-2 tw-focus:tw-ring-[#333] tw-focus:tw-ring-offset-1 tw-disabled:tw-cursor-not-allowed tw-disabled:tw-opacity-60"><img
                            src="https://www.svgrepo.com/show/448234/linkedin.svg" alt="Google"
                            class="tw-h-[18px] tw-w-[18px] ">Continue with
                        LinkedIn
                    </button>
                </div>
                <div class="tw-flex tw-w-full tw-items-center tw-gap-2 tw-py-6 tw-text-sm tw-text-slate-600">
                    <mat-divider class="tw-w-full"></mat-divider>
                    OR
                    <mat-divider class="tw-w-full"></mat-divider>
                </div>
                <form class="tw-w-full">
                    <label for="email" class="tw-sr-only">Email address</label>
                    <mat-form-field class="tw-w-full">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Ex. pat@example.com" />
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="tw-w-full">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput />
                    </mat-form-field>
                    <p class="tw-mb-3 tw-mt-2 tw-text-sm tw-text-gray-500">
                        <a href="/forgot-password" class="tw-text-blue-800 tw-hover:text-blue-600">Reset your
                            password?</a>
                    </p>
                    <button mat-raised-button color="primary" type="submit" class="tw-w-full">
                        Continue
                    </button>
                </form>
                <div class="tw-mt-6 tw-text-center tw-text-sm tw-text-slate-600">
                    Don't have an account?
                    <a href="/signup" class="tw-font-medium tw-text-[#4285f4]">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</div>












<!-- <section class="tw-bg-gray-100 tw-min-h-screen tw-flex tw-box-border tw-justify-center tw-items-center">
    <div class="tw-bg-[#dfa674] tw-rounded-2xl tw-flex tw-max-w-3xl tw-p-5 tw-items-center">
        <div class="tw-md:w-1/2 tw-px-8">
            <h2 class="tw-font-bold tw-text-3xl tw-text-[#002D74]">Login</h2>
            <p class="tw-text-sm tw-mt-4 tw-text-[#002D74]">If you already a member, easily log in now.</p>

            <form action="" class="tw-flex tw-flex-col tw-gap-4">
                <input class="tw-p-2 tw-mt-8 tw-rounded-xl tw-border" type="email" name="email" placeholder="Email">
                <div class="tw-relative">
                    <input class="tw-p-2 tw-rounded-xl tw-border tw-w-full" type="password" name="password" id="password" placeholder="Password">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" id="togglePassword"
                        class="tw-bi tw-bi-eye tw-absolute tw-top-1/2 tw-right-3 tw--translate-y-1/2 tw-cursor-pointer tw-z-20 tw-opacity-100"
                        viewBox="0 0 16 16">
                        <path
                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z">
                        </path>
                        <path
                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z">
                        </path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="tw-bi tw-bi-eye-slash-fill tw-absolute tw-top-1/2 tw-right-3 tw--z-1 tw--translate-y-1/2 tw-cursor-pointer tw-hidden"
                        id="mama" viewBox="0 0 16 16">
                        <path
                            d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z">
                        </path>
                        <path
                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z">
                        </path>
                    </svg>
                </div>
                <button class="tw-bg-[#002D74] tw-text-white tw-py-2 tw-rounded-xl tw-hover:tw-scale-105 tw-duration-300 tw-hover:bg-[#206ab1] tw-font-medium" type="submit">Login</button>
            </form>
            <div class="tw-mt-6  tw-items-center tw-text-gray-100">
                <hr class="tw-border-gray-300">
                <p class="tw-text-center tw-text-sm">OR</p>
                <hr class="tw-border-gray-300">
            </div>
            <button class="tw-bg-white tw-border tw-py-2 tw-w-full tw-rounded-xl tw-mt-5 tw-flex tw-justify-center tw-items-center tw-text-sm tw-hover:tw-scale-105 tw-duration-300 tw-hover:bg-[#60a8bc4f] tw-font-medium">
                    <svg class="tw-mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="25px">
                        <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path>
                        <path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path>
                        <path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path>
                        <path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
                    </svg>

                    Login with Google
                </button>
            <div class="tw-mt-10 tw-text-sm tw-border-b tw-border-gray-500 tw-py-5 tw-playfair tw-tooltip">Forget password?</div>

            <div class="tw-mt-4 tw-text-sm tw-flex tw-justify-between tw-items-center tw-container-mr">
                <p class="tw-mr-3 tw-md:mr-0 ">If you don't have an account..</p>
                <button class="tw-hover:border tw-register tw-text-white tw-bg-[#002D74] tw-hover:border-gray-400 tw-rounded-xl tw-py-2 tw-px-5 tw-hover:tw-scale-110 tw-hover:bg-[#002c7424] tw-font-semibold tw-duration-300">Register</button>
            </div>
        </div>
        <div class="tw-md:block tw-hidden tw-w-1/2">
            <img class="tw-rounded-2xl tw-max-h-[1600px]" src="https://images.unsplash.com/photo-1552010099-5dc86fcfaa38?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHwxfHxmcmVzaHxlbnwwfDF8fHwxNzEyMTU4MDk0fDA&ixlib=rb-4.0.3&q=80&w=1080" alt="login form image">
        </div>
    </div>
</section> -->














<!-- <div class="card tw-min-h-screen tw-bg-gray-100 tw-text-gray-900 tw-flex tw-justify-center">
    <div
        class="tw-max-w-screen-xl tw-m-0 sm:tw-m-10 tw-bg-white tw-shadow tw-sm:rounded-lg tw-flex tw-justify-center tw-flex-1">
        <div class="tw-lg:w-1/2 tw-xl:w-5/12 tw-p-6 sm:tw-p-12">
            <div>
                <img src="https://storage.googleapis.com/devitary-image-host.appspot.com/15846435184459982716-LogoMakr_7POjrN.png"
                    class="tw-w-32 tw-mx-auto" />
            </div>
            <div class="tw-mt-12 tw-flex tw-flex-col tw-items-center">
                <h1 class="tw-text-2xl tw-xl:text-3xl tw-font-extrabold">
                    Sign up
                </h1>
                <div class="tw-w-full tw-flex-1 tw-mt-8">
                    <div class="tw-flex tw-flex-col tw-items-center">
                        <button
                            class="tw-w-full tw-max-w-xs tw-font-bold tw-shadow-sm tw-rounded-lg tw-py-3 tw-bg-indigo-100 tw-text-gray-800 tw-flex tw-items-center tw-justify-center tw-transition-all tw-duration-300 tw-ease-in-out tw-focus:tw-outline-none tw-hover:tw-shadow tw-focus:tw-shadow-sm tw-focus:tw-shadow-outline">
                            <div class="tw-bg-white tw-p-2 tw-rounded-full">
                                <svg class="tw-w-4" viewBox="0 0 533.5 544.3">
                                    <path
                                        d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
                                        fill="#4285f4" />
                                    <path
                                        d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
                                        fill="#34a853" />
                                    <path
                                        d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
                                        fill="#fbbc04" />
                                    <path
                                        d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
                                        fill="#ea4335" />
                                </svg>
                            </div>
                            <span class="tw-ml-4">
                                Sign Up with Google
                            </span>
                        </button>

                        <button
                            class="tw-w-full tw-max-w-xs tw-font-bold tw-shadow-sm tw-rounded-lg tw-py-3 tw-bg-indigo-100 tw-text-gray-800 tw-flex tw-items-center tw-justify-center tw-transition-all tw-duration-300 tw-ease-in-out tw-focus:tw-outline-none tw-hover:tw-shadow tw-focus:tw-shadow-sm tw-focus:tw-shadow-outline tw-mt-5">
                            <div class="tw-bg-white tw-p-1 tw-rounded-full">
                                <svg class="tw-w-6" viewBox="0 0 32 32">
                                    <path fill-rule="evenodd"
                                        d="M16 4C9.371 4 4 9.371 4 16c0 5.3 3.438 9.8 8.207 11.387.602.11.82-.258.82-.578 0-.286-.011-1.04-.015-2.04-3.34.723-4.043-1.609-4.043-1.609-.547-1.387-1.332-1.758-1.332-1.758-1.09-.742.082-.726.082-.726 1.203.086 1.836 1.234 1.836 1.234 1.07 1.836 2.808 1.305 3.492 1 .11-.777.422-1.305.762-1.605-2.664-.301-5.465-1.332-5.465-5.93 0-1.313.469-2.383 1.234-3.223-.121-.3-.535-1.523.117-3.175 0 0 1.008-.32 3.301 1.23A11.487 11.487 0 0116 9.805c1.02.004 2.047.136 3.004.402 2.293-1.55 3.297-1.23 3.297-1.23.656 1.652.246 2.875.12 3.175.77.84 1.231 1.91 1.231 3.223 0 4.61-2.804 5.621-5.476 5.922.43.367.812 1.101.812 2.219 0 1.605-.011 2.898-.011 3.293 0 .32.214.695.824.578C24.566 25.797 28 21.3 28 16c0-6.629-5.371-12-12-12z" />
                                </svg>
                            </div>
                            <span class="tw-ml-4">
                                Sign Up with GitHub
                            </span>
                        </button>
                    </div>

                    <div class="tw-my-12 tw-border-b tw-text-center">
                        <div
                            class="tw-leading-none tw-px-2 tw-inline-block tw-text-sm tw-text-gray-600 tw-tracking-wide tw-font-medium tw-bg-white tw-transform tw-translate-y-1/2">
                            Or sign up with e-mail
                        </div>
                    </div>

                    <div class="tw-mx-auto tw-max-w-xs">
                        <input
                            class="tw-w-full tw-px-8 tw-py-4 tw-rounded-lg tw-font-medium tw-bg-gray-100 tw-border tw-border-gray-200 tw-placeholder-gray-500 tw-text-sm tw-focus:tw-outline-none tw-focus:border-gray-400 tw-focus:bg-white"
                            type="email" placeholder="Email" />
                        <input
                            class="tw-w-full tw-px-8 tw-py-4 tw-rounded-lg tw-font-medium tw-bg-gray-100 tw-border tw-border-gray-200 tw-placeholder-gray-500 tw-text-sm tw-focus:tw-outline-none tw-focus:border-gray-400 tw-focus:bg-white tw-mt-5"
                            type="password" placeholder="Password" />
                        <button
                            class="tw-mt-5 tw-tracking-wide tw-font-semibold tw-bg-indigo-500 tw-text-gray-100 tw-w-full tw-py-4 tw-rounded-lg tw-hover:bg-indigo-700 tw-transition-all tw-duration-300 tw-ease-in-out tw-flex tw-items-center tw-justify-center tw-focus:tw-shadow-outline tw-focus:tw-outline-none">
                            <svg class="tw-w-6 tw-h-6 tw--ml-2" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                <circle cx="8.5" cy="7" r="4" />
                                <path d="M20 8v6M23 11h-6" />
                            </svg>
                            <span class="tw-ml-3">
                                Sign Up
                            </span>
                        </button>
                        <p class="tw-mt-6 tw-text-xs tw-text-gray-600 tw-text-center">
                            I agree to abide by templatana's
                            <a href="#" class="tw-border-b tw-border-gray-500 tw-border-dotted">
                                Terms of Service
                            </a>
                            and its
                            <a href="#" class="tw-border-b tw-border-gray-500 tw-border-dotted">
                                Privacy Policy
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tw-flex-1 tw-bg-indigo-100 tw-text-center tw-hidden tw-lg:flex">
            <div class="tw-m-12 tw-xl:m-16 tw-w-full tw-bg-contain tw-bg-center tw-bg-no-repeat"
                style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');">
            </div>
        </div>
    </div>
</div> -->