<div class="tw-container tw-mx-auto tw-p-3 ">
  <section class="tw-h-5s">
    <h1 class="tw-text-2xl tw-font-bold tw-mt-4">Recent Activities</h1>
    <div class=" tw-grid tw-grid-rows-1 tw-grid-flow-col tw-gap-2 max-sm:tw-grid-rows-4 max-md:tw-grid-rows-2">
      @for (item of Data.statistics; track item.title; let i = $index) {
      <div class="card tw-text-white" [class]="'tw-bg-'+colorPallet[i] ">
        <div class="tw-p-4">
          <p class="tw-text-sm tw-mx-3">{{item.title}}</p>
          <h1 class="tw-text-4xl tw-m-3">{{item.value}}</h1>
        </div>
      </div>
      }
    </div>
  </section>
</div>